*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/dbnavigator.xml
/PushSDK/build/

#other module
/test/
/collapselayout/
/methodinjection-processor/
/rolltextview
/FrameKnowledge.zip
